@font-face {
  font-family: 'Nexa-Regular';
  src: local('Nexa-Regular'), url(./fonts/Nexa-Regular.otf) format('woff');
}

@font-face {
  font-family: 'Nexa-Bold';
  src: local('Nexa-Bold'), url(./fonts/Nexa-Bold.otf) format('woff');
}

body {
  font-family: 'Nexa-Regular';
  margin: 0;
  background-color: #DFDBD1;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #CCA224;
}